@import '~office-ui-fabric-react/dist/sass/References.scss';

.foamchart {
  .container {
    max-width: 1800px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }
  
  .searchBox {
    //@extend .floatLeft;
    width: 100%;
    //padding-bottom: 20px;
    }
  
  .searchStatus {
  @extend .floatRight;
  display: inline-block;
  white-space: nowrap;
  padding-left: 60px;
  padding-right: 60px;
  //text-align: right;
  }


  .showSearch {
    transition:all 0.4s ease;
    //transition:height 0.4s ease;
    //transition:padding-bottom 0.4s ease;
    //transition:transform 0.4s ease;
    transform:scaleY(1);
    transform-origin:top;
    height:50px;
    //max-height: 100px;
    overflow: hidden;
    padding-bottom: 20px;
  }

  .hideSearch {
    transition:all 0.4s ease;
    //transition:height 0.4s ease;
    //transition:padding-bottom 0.4s ease;
    //transition:transform 0.4s ease;
    height:0;
    overflow: hidden;
    padding-bottom: 0px;
    transform:scaleY(0);
  }
  
  .floatRight {
    //width: 1200px;
    //max-width: 500px;
    display: flex;
    justify-content: space-between;
    //align-items: center makes items centered vertically
    align-items: center;
    }
    

}
